/* Header Container */
.App{
text-align: center;
}

.header {
  background-color: #333; /* You can change the background color */
  color: #fff; /* Text color */
  padding: 2px;
  text-align: center;
}

/* Header Title */
.header-h1 {
  font-size: 20px; /* You can adjust the font size */
  margin: 0;
}

/* Add more styles as needed */

/* Footer Container */
.footer {
  background-color: #333; /* You can change the background color */
  color: #fff; /* Text color */
  padding: 10px;
  text-align: center;
}

/* Product List Container */
.product-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  width: 40%;
}

/* Add more styles as needed */
/* Styling for the product item container */
.product-item {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product-item:hover {
  background-color: #f0f0f0;
}

/* Styling for the product header */
.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-header p {
  margin: 0;
}

/* Styling for the product details */
.product-details {
  background-color: #f9f9f9;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-top: none;
}

.product-details p {
  margin: 5px 0;
}

/* Styling for the active product item */
.product-item.active .product-header {
  background-color: #3498db;
  color: #fff;
}

.product-item.active .product-details {
  display: block;
}
